# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

Import the dataset with: `mongoimport --type json -d uk_food -c establishments --drop --jsonArray establishments.json`

In [28]:
# In case to re-run and start afresh by dropping the database.
!mongo uk_food --eval "db.dropDatabase()"

MongoDB shell version v4.0.3
connecting to: mongodb://127.0.0.1:27017/uk_food
Implicit session: session { "id" : UUID("9751bfda-0adc-4511-8f29-8224ad27056c") }
MongoDB server version: 8.0.4
WARNING: shell and server versions do not match
{ "ok" : 1 }

In [29]:
# Import the database by running this command line from with in the notebook
!mongoimport --type json -d uk_food -c establishments --drop --jsonArray ../NoSql-challenge/Resources/establishments.json

2025-01-25T10:41:19.102-0500	connected to: mongodb://localhost/
2025-01-25T10:41:19.104-0500	dropping: uk_food.establishments
2025-01-25T10:41:20.522-0500	39779 document(s) imported successfully. 0 document(s) failed to import.

In [30]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import json
import os

In [31]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [32]:
# confirm that our new database was created
# List all databases
database_names = mongo.list_database_names()

# Check if 'uk_food' database exists
if 'uk_food' in database_names:
    print("Database 'uk_food' found. Proceed !")
else:
    print("Database 'uk_food' not found. Re-run the second cell to import database.")

Database 'uk_food' found. Proceed !

In [33]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [34]:
# review the collections in our new database
print(db.list_collection_names())

['establishments']

In [35]:
# review a document in the establishments collection
document = db.establishments.find_one()
pprint(document)

{'AddressLine1': 'The Bay',
 'AddressLine2': 'St Margarets Bay',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'The Coastguard Inn',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4587.347174863443,
 'FHRSID': 1034540,
 'LocalAuthorityBusinessID': 'PI/000078691',
 'LocalAuthorityCode': '182',
 'LocalAuthorityEmailAddress': 'publicprotection@dover.gov.uk',
 'LocalAuthorityName': 'Dover',
 'LocalAuthorityWebSite': 'http://www.dover.gov.uk/',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT15 6DY',
 'RatingDate': '2022-08-17T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6795061fcd6ec0462f31c84d'),
 'geocode': {'latitude': '51.152225', 'longitude': '1.387974'},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1034540',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 5}}

In [36]:
# assign the collection to a variable
establishments = db['establishments']

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [37]:
# Create a dictionary for the new restaurant data
new_halal = {
    "BusinessName": "Penang Flavours",
    "BusinessType": "Restaurant/Cafe/Canteen",
    "BusinessTypeID": "",
    "AddressLine1": "Penang Flavours",
    "AddressLine2": "146A Plumstead Rd",
    "AddressLine3": "London",
    "AddressLine4": "",
    "PostCode": "SE18 7DY",
    "Phone": "",
    "LocalAuthorityCode": "511",
    "LocalAuthorityName": "Greenwich",
    "LocalAuthorityWebSite": "http://www.royalgreenwich.gov.uk",
    "LocalAuthorityEmailAddress": "health@royalgreenwich.gov.uk",
    "scores": {
        "Hygiene": "",
        "Structural": "",
        "ConfidenceInManagement": ""
    },
    "SchemeType": "FHRS",
    "geocode": {
        "longitude": "0.08384000",
        "latitude": "51.49014200"
    },
    "RightToReply": "",
    "Distance": 4623.9723280747176,
    "NewRatingPending": True
}

In [38]:
# Insert the new restaurant into the collection
establishments.insert_one(new_halal)

InsertOneResult(ObjectId('679506207425e00ced16aa5f'), acknowledged=True)

In [39]:
# Check that the new restaurant was inserted
query = {
    "BusinessName": "Penang Flavours"
    }

# Find documents matching the query
restaurants = establishments.find(query)

# Print each document found
for restaurant in restaurants:
    pprint(restaurant)

{'AddressLine1': 'Penang Flavours',
 'AddressLine2': '146A Plumstead Rd',
 'AddressLine3': 'London',
 'AddressLine4': '',
 'BusinessName': 'Penang Flavours',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': '',
 'Distance': 4623.972328074718,
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': True,
 'Phone': '',
 'PostCode': 'SE18 7DY',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('679506207425e00ced16aa5f'),
 'geocode': {'latitude': '51.49014200', 'longitude': '0.08384000'},
 'scores': {'ConfidenceInManagement': '', 'Hygiene': '', 'Structural': ''}}

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [40]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the BusinessTypeID and BusinessType fields
query =  {
    'BusinessType': 'Restaurant/Cafe/Canteen',
    'BusinessTypeID': 1
    }
fields = {
    'BusinessType': 1,
    'BusinessTypeID': 1,
    '_id':0
    }
results = establishments.find(query,fields)
for result in results[:10]:
    pprint(result)

{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}
{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}
{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}
{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}
{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}
{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}
{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}
{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}
{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}
{'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1}

3. Update the new restaurant with the `BusinessTypeID` you found.

In [41]:
# Update the new restaurant with the correct BusinessTypeID
query = {
    "BusinessName": "Penang Flavours"
}
value = {'$set': {'BusinessTypeID': 1}}

establishments.update_one(query,value)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [42]:
# Confirm that the new restaurant was updated
query =  {
    "BusinessName": "Penang Flavours"
}
fields = {
    "BusinessName": 1,
    'BusinessTypeID': 1
    }
results = establishments.find(query,fields)
for result in results:
    pprint(result)

{'BusinessName': 'Penang Flavours',
 'BusinessTypeID': 1,
 '_id': ObjectId('679506207425e00ced16aa5f')}

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [43]:
# Find how many documents have LocalAuthorityName as "Dover"
print(f'Total number of documents in the collection are {establishments.count_documents({})}')
query = {
    "LocalAuthorityName": "Dover"
    }
count = establishments.count_documents(query)
print(f'Number of documents having LocalAuthorityName as "Dover" are {count}')

Total number of documents in the collection are 39780
Number of documents having LocalAuthorityName as "Dover" are 994

In [44]:
# Delete all documents where LocalAuthorityName is "Dover"
result = establishments.delete_many(query)
print(f'{result.deleted_count} documents deleted.')

994 documents deleted.

In [45]:
# Check if any remaining documents include Dover
query = {
    "LocalAuthorityName": "Dover"
    }
count = establishments.count_documents(query)
print(f'Number of documents having LocalAuthorityName as "Dover" is {count}')
print(f'Total number of documents remaining in the collection are {establishments.count_documents({})}')

Number of documents having LocalAuthorityName as "Dover" is 0
Total number of documents remaining in the collection are 38786

In [46]:
# Check that other documents remain with 'find_one'
remaining_document = establishments.find_one()

pprint(remaining_document)

{'AddressLine1': '16 The Stade',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Mariner',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.912144538092,
 'FHRSID': 289560,
 'LocalAuthorityBusinessID': 'PI/000039927',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6AB',
 'RatingDate': '2019-03-19T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6795061fcd6ec0462f31cb34'),
 'geocode': {'latitude': '51.08084', 'longitude': '1.188537'},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/289560',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 5}}

5. Some of the number values are stored as strings, when they should be stored as numbers.

Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [47]:
# Change the data type from String to Decimal for longitude and latitude
establishments.update_many(
    {}, 
    [
        {'$set': { "geocode.latitude": {'$toDouble': "$geocode.latitude"} }},
        {'$set': { "geocode.longitude": {'$toDouble': "$geocode.longitude"} }}
    ]
)

# Print data types of geocode.latitude and geocode.longitude
latitude_type = type(establishments.find_one()['geocode']['latitude']).__name__
longitude_type = type(establishments.find_one()['geocode']['longitude']).__name__

print(f"Data type of geocode.latitude: {latitude_type}")
print(f"Data type of geocode.longitude: {longitude_type}")

Data type of geocode.latitude: float
Data type of geocode.longitude: float

Use `update_many` to convert `RatingValue` to integer numbers.

In [48]:
# Find documents where RatingValue is not 1, 2, 3, 4, or 5
query = {
    "RatingValue": {"$nin": ['1', '2', '3', '4', '5']}
}

# Count the documents that match the query
count = establishments.count_documents(query)
print(f'Out of a total of {establishments.count_documents({})}, there are {count} documents where RatingValue is not 1, 2, 3, 4, or 5.')
print('----------------------------------------------------------------------------------------------')

# Get unique values of RatingValue other than 1, 2, 3, 4, 5
ratings = ['1','2','3','4','5']
non_ratings = []
not_rated = establishments.distinct("RatingValue", {"RatingValue": {"$nin": ratings}})
print("Unique non_ratings values:")
for value in not_rated:
    print(value)
    non_ratings.append(value)  # Fix: Append the value to the non_ratings list
print('----------------------------------------------------------------------------------------------')

# Find where RatingValue is 0
query_zero = {
    'RatingValue': '0',
}
count_zero = establishments.count_documents(query_zero)
print(f'The starter_code wanted us to filter out the documents where RatingValue is not 1, 2, 3, 4, 5.\nAnd in the next step wanted us to only replace the worded non_ratings to be replaced by NULLs,\nbut there are {count_zero} documents where RatingValue is 0.')

print('----------------------------------------------------------------------------------------------')
# Print the non_ratings list
# Print the non_ratings list
print(f'Created a non_ratings list having all types of non_ratings, including 0s,\nto be used for replacing them with null values. Here is the non_ratings list:\n{non_ratings}')

Out of a total of 38786, there are 4157 documents where RatingValue is not 1, 2, 3, 4, or 5.
----------------------------------------------------------------------------------------------
Unique non_ratings values:
0
Awaiting Inspection
AwaitingInspection
AwaitingPublication
Exempt
Pass
----------------------------------------------------------------------------------------------
The starter_code wanted us to filter out the documents where RatingValue is not 1, 2, 3, 4, 5.
And in the next step wanted us to only replace the worded non_ratings to be replaced by NULLs,
but there are 65 documents where RatingValue is 0.
----------------------------------------------------------------------------------------------
Created a non_ratings list having all types of non_ratings, including 0s,
to be used for replacing them with null values. Here is the non_ratings list:
['0', 'Awaiting Inspection', 'AwaitingInspection', 'AwaitingPublication', 'Exempt', 'Pass']

In [49]:
# non_ratings = ["AwaitingInspection", "Awaiting Inspection", "AwaitingPublication", "Pass", "Exempt"]
# Set non 1-5 Rating Values to Null
establishments.update_many({"RatingValue": {"$in": non_ratings}}, [ {'$set':{ "RatingValue" : None}} ])

UpdateResult({'n': 4156, 'nModified': 4156, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [50]:
# Count the documents where RatingValue is None
replaced = establishments.count_documents({"RatingValue": None})

# Confirm that the count is 4157
if replaced == count:
    print("Confirmation: All non_ratings were replaced by NULL")
else:
    print(f"Alert: Check again something went wrong, {count-replaced} documents could not be replaced with NULL")

Confirmation: All non_ratings were replaced by NULL

In [51]:
# Change the data type from String to Integer for RatingValue
establishments.update_many(
    {}, 
    [
        {'$set': { "RatingValue": {'$toInt': "$RatingValue"} }},
    ]
)

UpdateResult({'n': 38786, 'nModified': 34630, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [52]:
# Check that the coordinates and rating value are now numbers
RatingValue_type = type(establishments.find_one()['RatingValue']).__name__

print(f"New Data type of RatingValue: {RatingValue_type}")

New Data type of RatingValue: int

In [53]:
# Change the data type from String to Integer for RatingValue
establishments.update_many(
    {}, 
    [
        {'$set': { "RatingValue": {'$toInt': "$RatingValue"} }},
    ]
)

# Retrieve all documents to check the updated data types
documents = establishments.find()

# Check that the coordinates and rating value are now numbers
unique_rating_types = set()

for doc in documents:
    rating_value_type = type(doc['RatingValue']).__name__
    unique_rating_types.add(rating_value_type)

print("Unique data types of RatingValue in documents:")
for dtype in unique_rating_types:
    print(dtype)

Unique data types of RatingValue in documents:
NoneType
int

In [54]:
# Retrieve all documents from the transformed collection
documents = establishments.find()

# Convert the documents to a list and remove the ObjectId field
transformed_documents = []
for doc in documents:
    # Convert ObjectId to a string
    doc['_id'] = str(doc['_id'])
    transformed_documents.append(doc)

# Get the current directory of the notebook
current_directory = os.getcwd()

# Define the path where you want to save the JSON file
file_path = os.path.join(current_directory, 'Resources', 'transformed_establishments.json')

# Write the transformed documents to a JSON file
with open(file_path, 'w') as file:
    json.dump(transformed_documents, file, indent=4)

print(f"Transformed collection exported to the 'Resource' folder.")

Transformed collection exported to the 'Resource' folder.